.header {
  background-color: #1e2019;
  color: white;
  text-align: center;
  height: 80px;
  margin-bottom: 7px;
  border-top: 8px solid #e2c044;
  text-decoration: none;
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: white;
  }
}
