.wrapSearch {
  width: 100%;
  a{
    text-decoration: none;
  }
 
}
input {
  width: 100%;
  margin-bottom: 30px;
  height: 45px;
  border-radius: 20px;
  padding-left: 13px;
}
.button {
  width: 100%;
  height: 45px;
  border-radius: 20px;
}
.list {
  background-color: #d3d0cb;
  display: flex;
  flex-wrap: wrap;
  border: solid #93827f 2px;
}
.image {
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}
.parentList {
  position: absolute;
  z-index: 1;
  /* width: 200px; */
}
.text {
  color: black;
  text-align: center;
  margin: auto 0;
}



